---
interface Props {
	tag: string;
	withHref?: boolean;
	entriesCount?: number;
	isIA?: boolean;
}

const { tag, withHref, entriesCount, isIA } = Astro.props;

const commonClass = `inline-flex items-center rounded border border-black/15 px-2 py-1 transition-colors duration-300 ease-in-out hover:bg-black/5 hover:text-black focus-visible:bg-black/5 focus-visible:text-black dark:border-white/20 dark:hover:bg-white/5 dark:hover:text-white dark:focus-visible:bg-white/5 dark:focus-visible:text-white ${isIA ? 'font-mono text-xs' : ''}`;
---

{
	withHref ? (
		<a href={`/${isIA ? 'models' : 'tags'}/${encodeURIComponent(tag)}`} class={commonClass}>
			#{tag}
			{entriesCount !== undefined && (
				<span class="ml-2 text-sm text-gray-500">({entriesCount})</span>
			)}
		</a>
	) : (
		<span class={commonClass}>
			#{tag}
			{entriesCount !== undefined && (
				<span class="ml-2 text-sm text-gray-500">({entriesCount})</span>
			)}
		</span>
	)
}
