---
import Footer from '@/components/Footer.astro';
import Navbar from '@/components/Navbar.astro';
import { AppConfig } from '@/utils/AppConfig';
import '@/styles/global.css';

export interface Props {
	head: {
		title: string;
		description: string;
		ogImage?: {
			src?: string;
			alt?: string;
		};
	};
}

const {
	head: { title, description, ogImage = {} }
} = Astro.props as Props;

const canonicalUrl = new URL(Astro.url.pathname, Astro.site);
---

<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{title} | {AppConfig.site_name}</title>
		<meta name="description" content={description ?? AppConfig.description} />
		<meta name="author" content={AppConfig.author} />
		<meta name="generator" content={Astro.generator} />

		<link rel="canonical" href={canonicalUrl} />

		<link rel="sitemap" href="/sitemap-index.xml" />
		<link rel="alternate" type="application/rss+xml" title={title} href="/rss.xml" />
		<link
			rel="icon"
			href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🦄</text></svg>"
		/>

		<!-- Open Graph / Facebook / LinkedIn -->
		<meta property="og:type" content="article" />
		<meta property="og:url" content={canonicalUrl} />
		<meta property="og:title" content={`${title} | ${AppConfig.site_name}`} />
		{description && <meta property="og:description" content={description} />}
		{ogImage?.src && <meta property="og:image" content={ogImage.src} />}

		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content={canonicalUrl} />
		<meta property="twitter:title" content={title} />
		{ogImage?.src && <meta property="twitter:image" content={ogImage.src} />}
		{description && <meta property="twitter:description" content={description} />}
		<meta property="twitter:site" content="@agodin3z" />

		<!-- Google Fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Merriweather:ital,opsz,wght@0,18..144,700;1,18..144,700&display=swap"
			rel="stylesheet"
		/>
	</head>
	<body
		class="bg-pattern font-hand flex min-h-screen flex-col bg-stone-100 text-gray-950 dark:bg-stone-900 dark:text-white"
	>
		<Navbar />
		<div class="flex-1">
			<slot />
		</div>
		<Footer />
	</body>
</html>
